@font-face {
  font-family: 'iconfont';  /* project id 571675 */
  src: url('https://at.alicdn.com/t/font_571675_4aic4lgicssb57b9.eot');
  src: url('https://at.alicdn.com/t/font_571675_4aic4lgicssb57b9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_571675_4aic4lgicssb57b9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_571675_4aic4lgicssb57b9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_571675_4aic4lgicssb57b9.svg#iconfont') format('svg');
}
.title2{
	width: 280px;
    height: 98px;
    margin: 0 auto;
    margin-top: 330px;
    margin-bottom: 34px;
}
.title2 p{
	font-size: 20px;
	color: #000000;
	text-align: center;
	letter-spacing: 10px;
}
.body1{
	width: 1207px;
	height: 382px;
	margin-top: 50px;
	margin-left: 80px;
}
.body1_1{
	width: 264px;
	height: 382px;
	border: solid 2px #D7D7D7;
	float: left;
	position: relative;
}
.body1_1 img{
	width: 271px;
    height: 357px;
    margin-top: 9px;
    margin-left: 12px;
    box-shadow: -2px 2px 20px 2px #EFEFEF;
}
.body1_2 img{
	width: 271px;
    height: 357px;
    margin-top: 9px;
    margin-left: 12px;
    box-shadow: -2px 2px 20px 2px #EFEFEF;
}
.body1_2{
	width: 264px;
	height: 382px;
	border: solid 2px #D7D7D7;
	margin-left: 40px;
	float: left;
	position: relative;
}
.body1_3{
	width: 2px;
    height: 355px;
    background-color: #F5C813;
    position: absolute;
    top: 10px;
    right: -2px;
}
.body1_4{
	color: red;
    position: absolute;
    width: 271px;
    height: 357px;
    top: 9px;
    left: 10px;
    background-color: rgba(25, 74, 95, 0.9);
    box-shadow: 0px 5px 20px 5px #EEEFF0;
    opacity: 0;
}
.body1_4 h1{
	font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 35px;
    margin-left: 23px;
}    
.body2{
	margin-top: 30px;
}
.body_bot{
	width: 323px;
	height: 24px;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;
}
.body_bot h1{
	width: 13px;
	height: 23px;
	color: #4F4F4F;
	text-align: center;
	float: left;
	line-height: 24px;
	font-weight: 500;
}
.body_bot h2{
	width: 13px;
	height: 23px;
	color: #4F4F4F;
	text-align: center;
	float: right;
	line-height: 24px;
	font-weight: 500;
}
.body_bot1{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #E5E5E5;
	margin-left: 26px;
	float: left;
}
.body_bot1 span{
	line-height: 12px;
	color: #16516B;
	margin-left: 8px;
}
.body_bot3 span{
	font-size: 2px;
	color: #7E94A2;
	line-height: 2px;
	width: 12px;
	height: 2px;
	margin: 16px 28px 0px 25px;
	float: left;
}
.body_bot4{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #E5E5E5;
	margin-right: 16px;
	float: left;
}
.body_bot4 span{
	line-height: 12px;
	color: #16516B;
	margin-left: 2px;
}
.body_bot1:hover,.body_bot3:hover,.body_bot4:hover{
	background-color: #17516B;
}
.body_bot1 span:hover,.body_bot3 span:hover,.body_bot4 span:hover{
	color: #fff;
}