@font-face {
  font-family: 'iconfont';  /* project id 571675 */
  src: url('https://at.alicdn.com/t/font_571675_4aic4lgicssb57b9.eot');
  src: url('https://at.alicdn.com/t/font_571675_4aic4lgicssb57b9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_571675_4aic4lgicssb57b9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_571675_4aic4lgicssb57b9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_571675_4aic4lgicssb57b9.svg#iconfont') format('svg');
}
.pinpai_bottom{
	text-align: justify;
	width: 985px;
	margin: 0 auto;
	padding-top: 10px;
}
.pinpai_bottom1{
  	float: left;
}
.pinpai_bottom1 img{
  	float: left;
}
.pinpai_bottom1_title{
	float: left;
  	margin-left: 42px;
}
.pinpai_bottom1 h1{
  	font-size: 22px;
  	line-height: 38px;
  	font-family: 微软雅黑;
  	color: #5B5B5B;
}
.pinpai_bottom1 p{
  	font-size: 20px;
  	line-height: 15px;
  	font-family: 微软雅黑;
  	color: #B8B8B8;
}
.pinpai_bottom2{
	float: left;
	width: 985px;
	border-top:2px dashed #5B5B5B;
	margin-top: 39px;
	padding-top: 30px;
	position: relative;
}
.pinpai_bottom2_top_kuai{
	width: 9px;
	height: 9px;
	background-color: #000;
	margin-top: 4px;
	float: left;
}
.pinpai_bottom2_top h1{
	color: #141414;
	font-size: 16px;
	float: left;
	line-height: 16px;
	margin-left: 13px;
	margin-bottom: 26px;
}
.pinpai_bottom2_top i{
	color: #C3C3C3;
}
.pinpai_bottom2_top p{
	float: left;
	color: #8D8D8D;
	margin-left: 22px;
	line-height: 22px;
	font-size: 14px;
	font-family: 微软雅黑;
	width: 965px;
}
.pinpai_bottom2_middle{
	margin-top: 30px;
	float: left;
}
.pinpai_bottom2_top_kong1{
	margin-top: 25px;
}
.pinpai_tupian img{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 46px;
}
.pinpai_bottom3{
	width: 985px;
}
.pinpai_bottom3 p{
	color: #8D8D8D;
	margin-left: 22px;
	line-height: 22px;
	font-size: 14px;
}
.pinpai_bottom_end{
	margin-top: 0px;
	padding-top: 30px;
	border: 0;
	margin-bottom: 77px;
}